.container {
	max-width: 960px;
	margin: 0 auto;
}

.header { height: 57px }

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
	/* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;

    .pure-menu-heading {
	    color: white;
	    font-weight: 400;
	    font-size: 120%;
	}
	a {
	    color: #6FBEF3;
	}
	.pure-menu-selected a {
	    color: white;
	}
	li a:hover,
	li a:focus {
	    background: none;
	    border: none;
	    color: #AECFE5;
	}
	@media (min-width: 48em) {
        text-align: left;

        ul {
            float: right;
        }
	}
}

.items-wrapper { margin-top: 50px }